@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

$blue: #3294f8;
$base-title: #e7edf4;
$base-subtitle: #c4d4e3;
$base-text: #afc2d4;
$base-span: #7b96b2;
$base-label: #3a536b;
$base-border: #1c2f41;
$base-card: #112131;
$base-profile: #0b1b2b;
$base-background: #dceefb;
$base-input: #040f1a;

$border-radius-md: 8px;
$border-radius-pill: 50%;
$border-radius-sm: 4px;

$font-family-base: 'Poppins', sans-serif;

$header-height: 25vh;

$form-control-bg: $base-input;

// @import 'bootstrap/scss/functions';
// @import 'bootstrap/scss/variables';
// @import 'bootstrap/scss/mixins';
// @import 'bootstrap/scss/bootstrap';
