.wrapper {
  width: 100%;
  height: 100vh;
  margin-top: 20px;;

  h1 {
    color: $base-label;
    font-size: 24px;
    margin-bottom: 0;
  }

  h3 {
    color: $base-label;
    font-size: 24px;
    margin-bottom: 0;
  }

  p {
    color: $base-label;
    font-size: 16px;
    margin-bottom: 0;
  }

  @media (min-width: 1024px) {
    .content {
      width: 100%;
      padding: 0;
    }
  }
}
